<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Boletim</title>
</head>
<body>
    <h1>Cadastro de Notas</h1>
    <form action="/cadastrar_boletim" method="POST">
        <label>Nome do aluno:</label><br>
        <input type="text" name="nome"><br><br>

        <label>Nota 1:</label><br>
        <input type="text" name="nota1"><br><br>

        <label>Nota 2:</label><br>
        <input type="text" name="nota2"><br><br>

        <label>Nota 3:</label><br>
        <input type="text" name="nota3"><br><br>

        <label>Nota 4:</label><br>
        <input type="text" name="nota4"><br><br>

        <button type="submit">Cadastrar Boletim</button>
    </form>
</body>
</html>
